- var title = "Monchi Cafe";

- var image_path = './images'
- var css_path = './css'
- var js_path = './js'
- var domain = 'https://example.com/'
- 
  var pages = {
    home : {
      url : 'index.html',
      name : 'トップページ',
      title : title,
      description : 'トップページのdescription',
    },
    news : {
      url : 'news.html',
      name : 'ニュースページ',
      title : title + '|ニュースページ',
      description : 'ニュースページのdescription',
    },
    menu : {
      url : 'menu.html',
      name : 'メニューページ',
      title : title + '|メニューページ',
      description : 'メニューページのdescription',
    },
  }
